<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkuan.springbootjdbcstart.generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.linkuan.springbootjdbcstart.generator.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,phone
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, `name` , phone from user
    </select>

    <insert id="insert" parameterType="com.linkuan.springbootjdbcstart.generator.domain.User">
        insert into user(`name` , phone) values (#{name}, #{phone})
    </insert>

    <update id="update" parameterType="com.linkuan.springbootjdbcstart.generator.domain.User">
        update user set name = #{name}, phone = #{phone} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>


</mapper>
